@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif;
}

nav {
  text-align: center;
  background-color: black;
  height: 75px;
  line-height: 75px;
  color: white;
  border-radius: 0 0 10px 10px;
  margin-bottom: 25px;
}

nav h1 {
  font-size: 32px;
}

.input-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 30px;
}

#search {
  border: none;
  border-bottom: 2px solid #666;
  width: 300px;
  font-size: 16px;
  height: 30px;
  font-family: inherit;
  transition: border-bottom-color 0.3s;
}

#search:focus {
  outline: none;
  border-bottom-color: black;
}

.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 50%;
  height: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.fa-times {
  transition: transform 0.2s;
}

.fa-times:active {
  transform: scale(0.8);
}
img {
  border-radius: 10px;
  height: 100px;
  margin-right: 10px;
  transition: opacity 0.5s;
}

.characters-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 55px;
}

.single-character {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 25px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  transition: filter 0.3s;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15px;
  transition: opacity 0.3s;
}

.name {
  font-size: 32px;
}

.additional-info {
  display: flex;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 200%;
  left: 50%;
  transition: top 0.5s;
  cursor: default;
}

.single-character:hover .additional-info {
  top: 50%;
}

.single-character:hover .flex {
  opacity: 0;
}

.ancestry,
.date-of-birth,
.patronus,
.wood,
.core,
.length {
  display: flex;
  align-items: center;
  margin-left: 15px;
  border-left: 1px solid black;
  padding-left: 5px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
}

.left p,
.right p {
  font-size: 16px;
  margin-right: 5px;
  font-weight: bold;
}

.wand h2,
.hover-name h2 {
  font-size: 18px;
}

@media (max-width: 480px) {
  .single-character {
    height: 175px;
  }

  img {
    margin-right: 0px;
  }

  .photo {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  .name {
    font-size: 24px;
  }

  .flex {
    margin: 5px;
  }

  .left {
    width: 100%;
    justify-content: start;
    margin-left: 15px;
  }

  .right {
    display: none;
  }

  .single-character:hover img {
    opacity: 0.3;
  }
}
